.filterBar_list {
  width: 100%;
  max-width: 360px;
  background-color: white;
  overflow-y: auto; /* Use auto instead of scroll for better compatibility */
}

@media (max-height: 600px) {
  .filterBar_list {
    height: 78vh;
  }
}

@media (min-height: 601px) and (max-height: 800px) {
  .filterBar_list {
    height: 90vh;
  }
}

@media (min-height: 801px) {
  .filterBar_list {
    height: 95vh;
  }
}

/* Additional Media Queries for Width (Mobile and Desktop) */

@media (max-width: 767px) {
  .filterBar_list {
    max-width: 100%; /* Full width on smaller screens */
  }
}
