.category-superContainer {
  margin-top: 12vh;
  overflow: hidden;
}
.categoryAvatar {
  width: 10px;
}
.categoryHeading {
  /* font-family: sans-serif; */
  /* font-size: 2rem; */
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.category_mainContainer {
  display: flex;
  cursor: grab;
}
.category_mainContainer_grabbing {
  display: flex;
  cursor: grabbing;
}
.category-subContainer {
  backface-visibility: hidden;
  display: flex;
  gap: 2vw;
  touch-action: pan-x pinch-zoom;
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: row;
  cursor: grab;
}
.card-heading {
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 15%;
}

.carousel-control {
  display: flex;
  justify-content: space-between;
  width: 95vw;
}
.control__buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.control__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  /* -webkit-appearance: none; */
  /* appearance: none; */
  /* background-color: transparent; */
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast),
    0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  width: 3.6rem;
  height: 3rem;
  width: 3rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  color: #fff;
}
.image-container {
  width: 15rem;
  height: 21rem;
  overflow: hidden;
  border-radius: 4%;
  position: relative;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .category-superContainer {
    margin-top: 4vh; /* Adjust margin for smaller screens */
  }

  .categoryHeading {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
  }

  .control__button {
    display: none; /* Hide control buttons on smaller screens */
  }
}

@media (max-width: 480px) {
  .category-superContainer {
    margin-top: 3vh; /* Further adjust margin for very small screens */
  }
  .control__button{
    display: none;
  }
  .content-container{
    height: 300px;
  }
  .content-container img{
    border-radius: 10px;
  }

  .categoryHeading {
    font-size: 1.5rem; /* Adjust font size for very small screens */
  }
  .card-heading {
    font-size: 1.3rem; /* Adjust font size for very small screens */
  }
  

  .image-container {
    border-radius: 0; /* No border-radius for images on very small screens */
  }
}