#signup-dialog {
  border-radius: 20px;
}

#signup-dialog-content {
  display: flex;
  padding: 20px;
  background-color: #f0f4f8; /* Light background color */
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

#signup-dialog-close-button {
  position: absolute;
  right: 15px;
  top: 15px;
}

#signup-dialog-form-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#signup-dialog-image {
  width: 50%;
  height: 60vh;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

#dialogTitle {
  display: flex;
  justify-content: end;
}

#signup-dialog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  width: 100%;
}
#textFieldContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}


#signup-dialog-button {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  width: 100%;
  max-width: 350px;
  font-size: 1rem;
  border-radius: 10px;
  text-transform: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#signup-dialog-button:hover {
  background-color: #0056b3;
}

#signup-dialog-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#signup-dialog-subtitle {
  color: #666;
  margin-bottom: 20px;
}

/* Responsive Styling */
@media (max-width: 600px) {
  #signup-dialog-content {
    padding: 15px;
    flex-direction: column;
  }

  #signup-dialog-image {
    width: 100%;
    margin-bottom: 20px;
  }

  #signup-dialog-input {
    max-width: 300px;
  }

  #signup-dialog-button {
    max-width: 300px;
  }
}
