.showCollection_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepper_container_Box {
  margin-top: 4%;
  width: 60vw;
}
.stepper_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-top: 2%
}
.totalcartItemsGrid{
  display: flex;
  justify-content: center;
  align-items: center;
}
#totalcartItemsBox{
  margin-top: 2%;
  width: 90%;
}
#totalcartItems{
  font-family: "Futura Bold Italic";
}

