@font-face {
  font-family: "Futura";
  src: url("../../../Fonts/futura/futur.ttf") format("truetype");
}

.companyName {
  font-family: "Futura";
  flex-grow: 1;
  letter-spacing: 0.8vw;
  color: black;
  font-size: 1.875rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  background: #000;
}
.actions_buttons {
  display: flex;
  gap: 2%;
  padding: 1%;
}
#companyName_container {
  background: yellow;
}
