/* StyleSheets/Common_Components/TrendingProducts.css */

.card-media {
  object-fit: contain;
  height: 40vh;
}
.card-action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}
#card-description {
  font-family: "Futura Light Italic", sans-serif;
  font-size: medium;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#card-price {
  font-family: "Futura Light Italic", sans-serif;
}
.card-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-content-container {
  flex: 0 0 20%; /* Each slide takes up 20% of the carousel width */
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.product-superContainer {
  margin-top: 12vh;
  position: relative;
}

.carousel-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.productHeading {
  font-family: "Futura Medium Italic";
}

.control__buttonsContainer {
  display: flex;
}

.product-mainContainer {
  overflow: hidden;
  position: relative;
}

.product-subContainer {
  display: flex;
  gap: 10px;
  cursor: grab;
}

.product-content-container {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
  width: auto;
  transition: transform 0.3s ease;
}
.view_moreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
.view_moreButton Button {
  color: black;
  border-color: black;
  size: large;
  font-family: "";
}
#buy_now_button {
  border-color: black;
  color: black;
  margin-right: 1vw;
}
.addtocart_now_button {
  border-color: black;
  color: black;
}

@media (max-width: 768px) {
  .product-superContainer {
    margin-top: 10vh;
  }

  #card-price {
    font-size: 1em;
  }

  .card-media {
    height: 35vh; /* Adjust card media height for smaller screens */
  }
  .view_moreButton Button {
    margin-top: 5%;
  }
}
@media (max-width: 468px) {
  .product-superContainer {
    margin-top: 4vh;
  }

  .productHeading {
    font-size: 1.2em; /* Decrease font size for smaller screens */
  }

  .card-media {
    height: 35vh; /* Adjust card media height for smaller screens */
  }
}

/* Card Styling */
.card-body {
  overflow: hidden;
  position: relative;
}

.add-to-cart-button {
  opacity: 0;
  visibility: visible;
  position: absolute;
  width: 100%; 
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-radius: 0;
  font-size: 1em;
}
#iconButtonDiv {
  display: "flex";
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.833);
  padding: 25%;
  height: 25px;
 cursor: pointer;
}
 #iconButtonSpan {
  display: "none";
 }



.card-body:hover .add-to-cart-button {
  background: #000;
  opacity: 1;
  transition: transform 0.3s ease;
  visibility: visible;
  transform: translateY(-100);
}

/* Card Image */
.card-media {
  object-fit: cover;
  height: 60vh;
  transition: transform 0.3s ease;
}

/* Overlay favorite and share icons */
.card-body .MuiBox-root {
  z-index: 10; /* Ensure these icons stay on top */
}

/* Product Content (Price, Name, etc.) */
.card-body .MuiCardContent-root {
  text-align: center;
  z-index: 10; /* Ensure the content stays visible */
}

/* Product Content Container */
.product-content-container {
  padding: 1%;
  position: relative;
}

/* Responsive media query adjustments */
@media (max-width: 768px) {
  .card-media {
    height: 45vh; /* Adjust card media height for smaller screens */
  }
}

@media (max-width: 468px) {
  .card-media {
    height: 35vh; /* Adjust card media height for mobile */
  }
}
